
<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">Taurus<b>TPV</b></a>
        <small>Terminal punto de venta - Taurus</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_up" method="POST">
                <div class="msg"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">face</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="namesurname" placeholder="Usuario" ng-model="user" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" minlength="6" placeholder="Contraseña" ng-model="password"required>
                    </div>
                </div>
                
                <button class="btn btn-block btn-lg bg-cyan waves-effect" type="submit" ng-click="signin()">Sesión</button>

                <div class="m-t-25 m-b--5 align-center">
                	<small>Aun no tienes cuenta resgistrate <a href="#step1">aquí</a></small>
                	<br>
                	<a href="#">¿Tienes problemas para iniciar sesión ?</a>
                </div>
            </form>
        </div>
    </div>
</div>

    