
<!--
############################################################
        caja
############################################################
-->

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="cajaCtrl">
                <div class="card">
                    <div class="header">
                        <h2>
                            TPV
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body table-responsive">
                        <form>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                   <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Nombre(s) del cliente">
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-4">
                                   <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <i class="material-icons">mail</i>
                                        </span>
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Correo del cliente">
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-4">
                                   <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <i class="material-icons">smartphone</i>
                                        </span>
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Número telefónico">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped" style="height:300px;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ID</th>
                                    <th>Codigo</th>
                                    <th>Producto</th>
                                    <th>Costo</th>
                                    <th>Cancelar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="col-md-12 col-lg-12">
                            <div class="col-lg-7"></div>
                            <div class="col-lg-4 col-md-4">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-size:2em">Total</td>
                                            <td style="font-size:3em">$  0.00 MXN</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:2em">Recibe</td>
                                            <td style="font-size:2.4em; text-align:right;">$  0.00 MXN</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:2em">Cambio</td>
                                            <td style="font-size:2em; text-align:right;">$  0.00 MXN</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-1" style="float:right">
                                <div class="demo-color-box bg-green" style="height:10em; cursor:pointer;" ng-click="confirm()">
                                    <i class="material-icons" style="margin-top:1.5em">done</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>