



<!-- 
#############################################################
    Agrega sucursal. a la base de datos 
#############################################################
-->
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <!-- Basic Examples -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            AGREGAR SUCURSAL.
                        </h2>
                        <ul class="header-dropdown m-r--5">
                        </ul>
                    </div>
                    <div class="body">
                        <form>
                            <div class="col-md-6 col-lg-6">
                                <label for="email_address">IMEI</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Ingresa IMEI del disp">
                                    </div>
                                </div>
                                <label for="name_product">UUID</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Agregar UUID del disp.">
                                    </div>
                                </div>
                                <label for="description_short">Nombre</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Nombre(s) a quien pertenece">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ol-lg-6">
                                <label for="description_short">Puesto del Empleado</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Puesto del empleado">
                                    </div>
                                </div>
                                <label for="quantity">SUCURSAL DE ASIGNACIÓN</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="quantity" class="form-control" placeholder="Sucursal de asignación">
                                    </div>
                                </div>
                                <label for="cost_unity_product">PERMISOS DE ASIGNACION</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="cost_unity" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-block btn-lg btn-primary waves-effect">AGREGAR DISP.</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->
            <!-- With Icons -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                           LISTA DE SUCURSALES.
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body" style="min-height:350px;background-color:#E6E6E6;">
                        
                        <span style="margin-top:3em;">Sin sucursales</span>
                        
                    </div>
                </div>
            </div>
            <!-- #END# With Icons -->
        </div>
    </div>
</section>