
<!-- 
#############################################################
    Inventario
#############################################################

-->
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            INVENTARIO
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body" ng-controller="barCodeScannerCtrl">
                        <form>
                            <div class="col-md-6">
                                <label for="email_address">Codigo de referencia</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="text" class="form-control" placeholder="Ingresa codigo de barras">
                                    </div>
                                </div>
                                <label for="name_product">Nombre</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="name_product" class="form-control" placeholder="Nombre del producto">
                                    </div>
                                </div>
                                <label for="description_short">Descripción corta</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="description_short" class="form-control" placeholder="Descripcion corta">
                                    </div>
                                </div>
                                <label for="quantity">Cantidad</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="quantity" class="form-control" placeholder="Cantidad">
                                    </div>
                                </div>
                                <label for="cost_unity_product">Costo por unidad</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="cost_unity" class="form-control" placeholder="Costo por unidad">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="category_product">Categoria</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="category" class="form-control" placeholder="Categoria relacionado">
                                    </div>
                                </div>
                                <label for="dimensions_product">Dimensiones</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="dimensions" class="form-control" placeholder="Dimensiones del producto">
                                    </div>
                                </div>
                                <label for="weight_product">Peso</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="weight" class="form-control" placeholder="Peso del producto">
                                    </div>
                                </div>
                                <label for="Warehouse">Almacen de origen</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="Warehouse" class="form-control" placeholder="Almacen de origen">
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary m-t-15 waves-effect">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>