

<section class="content">
    <div class="container-fluid">
    
        <div class="" style="text-align:center; margin-top:15%;">
            <h2>
            ¿Qué deseas realizar ?
           </h2>
            <div class="icon-button-demo" style="margin-top:8%;">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 align-center">
                    <a href="#agregar-inventario">
                        <button type="button" class="btn bg-teal btn-circle-lg waves-effect waves-circle waves-float">
                            <b>A</b>
                        </button>
                    </a>
                    <br>
                    <span>Agregar al <br>inventario</span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 align-center">
                    <a href="#">
                        <button type="button" class="btn bg-deep-orange btn-circle-lg waves-effect waves-circle waves-float">
                            <b>R</b>
                        </button>
                    </a>
                    <br>
                    <span>Reporte de <br>inventario</span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 align-center">
                    <a href="#">
                        <button type="button" class="btn bg-purple btn-circle-lg waves-effect waves-circle waves-float">
                            <b>C</b>
                        </button>
                    </a>
                    <br>
                    <span>Compras</span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 align-center">
                    <a href="#">
                        <button type="button" class="btn btn-warning btn-circle-lg waves-effect waves-circle waves-float">
                            <b>D</b>
                        </button>
                    </a>
                    <br>
                    <span>Devoluciones</span>
                </div>
            </div>
        </div>
    </div>
</section>