





<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">Taurus<b>TPV</b></a>
        <small>Terminal punto de venta - Taurus</small>
    </div>
    <div class="card">
        <div class="body" ng-controller="step1Ctrl">
            <form id="sign_up" method="POST">
                <div class="msg">
                	Felidades ya puedes disfrutar de <br>
                	Taurus<b>TPV</b>
                </div>
                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit" ng-click="ir()">Ir</button>
			</form>
        </div>
    </div>
</div>