

<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">Taurus<b>TPV</b></a>
        <small>Terminal punto de venta - Taurus</small>
    </div>
    <div class="card">
        <div class="body" ng-controller="step1Ctrl">
            <form>
                <div class="msg"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">location_city</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="city" placeholder="Ciudad" ng-model="city" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">location_city</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="municipality" minlength="6" placeholder="Municipio" ng-model="municipality"required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">location_city</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="address" minlength="6" placeholder="dirección" ng-model="address" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">location_city</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="cp" placeholder="codigo postal" ng-model="cp" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">contact_phone</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="phone" minlength="6" placeholder="Telefono de contacto" ng-model="phone" required>
                    </div>
                </div>

                
				<button class="btn btn-block btn-lg bg-cyan waves-effect" type="submit" ng-click="addressUser()">Registro</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a href="sign-in.html">Tienes alguna duda sobre el registro?</a>
                </div>
            </form>
        </div>
    </div>
</div>