
<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">Taurus<b>TPV</b></a>
        <small>Terminal punto de venta - Taurus</small>
    </div>
    <div class="card">
        <div class="body" ng-controller="step1Ctrl">
            <form>
                <div class="msg"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre(s)" ng-model="name" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="nombre" placeholder="Apellido(s)" ng-model="last_name" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">face</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="namesurname" placeholder="Usuario" ng-model="user" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" placeholder="Correo Electronico" ng-model="email" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" minlength="6" placeholder="Contraseña" ng-model="password"required>
                    </div>
                </div>
                
                
				<button class="btn btn-block btn-lg bg-cyan waves-effect" type="submit" ng-click="register_user()">Registro</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a href="sign-in.html">Tienes alguna duda sobre el registro?</a>
                </div>
            </form>
        </div>
    </div>
</div>

    