



<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">Taurus<b>TPV</b></a>
        <small>Terminal punto de venta - Taurus</small>
    </div>
    <div class="card">
        <div class="body" ng-controller="step1Ctrl">
            <form>
                <div class="msg">
                	Queremos saber más de ti.<br>
                	¿Que giro tiene tu negocio?
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">store</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="negocio" placeholder="Giro del negocio" ng-model="deal" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">face</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="cargo" minlength="6" placeholder="Tu cargo dentro del negocio" ng-model="puesto" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">group</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="address" placeholder="Numero de empleados" ng-model="employes" required>
                    </div>
                </div>
                
				<button class="btn btn-block btn-lg bg-cyan waves-effect" type="submit" ng-click="infoShop()">Registro</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a href="sign-in.html">Tienes alguna duda sobre el registro?</a>
                </div>
            </form>
        </div>
    </div>
</div>