


<!-- 
#############################################################
    Agregad disp. a la base de datos para permitir
    la lectura del producto y/o cobro del mismo 
#############################################################
-->
<section class="content">
    <div class="container-fluid" ng-controller="addPhoneCtrl">
        <div class="row clearfix">
            <!-- Basic Examples -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            AGREGAR DISP.
                        </h2>
                        <ul class="header-dropdown m-r--5">
                        </ul>
                    </div>
                    <div class="body">
                        <form>
                            <div class="col-md-6 col-lg-6">
                                <label for="email_address">IMEI</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Ingresa IMEI del disp" ng-model="imei" required>
                                    </div>
                                </div>
                                <label for="name_product">UUID</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Agregar UUID del disp." ng-model="uuid" required>
                                    </div>
                                </div>
                                <label for="description_short">Nombre</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Nombre(s) a quien pertenece" ng-model="name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ol-lg-6">
                                <label for="description_short">Puesto del Empleado</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Puesto del empleado" ng-model="employee_position" required>
                                    </div>
                                </div>
                                <label for="quantity">SUCURSAL DE ASIGNACIÓN</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="quantity" class="form-control" placeholder="Sucursal de asignación" ng-model="asignation_store" required>
                                    </div>
                                </div>
                                <label for="cost_unity_product">PERMISOS DE ASIGNACION</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="cost_unity" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" ng-click="savePhone()">AGREGAR DISP.</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->
            <!-- With Icons -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card" ng-controller="listPhonetCtrl">
                    <div class="header">
                        <h2>
                           LISTA DE DISP.
                        </h2>
                    </div>
                    <div class="body table-responsive" style="min-height:350px;">
                        <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>IMEI</th>
                                        <th>NOMBRE</th>
                                        <th>PUESTO</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="phone in allListPhone">
                                    <tr>
                                        <td>{{ phone.imei }}</td>
                                        <td>{{ phone.name }}</td>
                                        <td>{{ phone.employee_position }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# With Icons -->
        </div>
    </div>
</section>