

<section class="content">
    <div class="container-fluid">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <a href="#inventario-menu">
                <div class="demo-color-box bg-cyan" style="height:10em">
                    <div class="color-name">INVENTARIO</div>
                    <div class="color-code">
                        <img src="../images/inventario.png">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <a href="#">
                <div class="demo-color-box bg-teal" style="height:10em">
                    <div class="color-name">VENTAS</div>
                    <div class="color-code">
                        <img src="../images/ventas.png">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <a href="#caja">
                <div class="demo-color-box bg-light-green" style="height:10em">
                    <div class="color-name">CAJA</div>
                    <div class="color-code">
                        <img src="../images/caja.png">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <a href="#">
                <div class="demo-color-box bg-amber" style="height:10em">
                    <div class="color-name">PEDIDOS</div>
                    <div class="color-code">
                        <img src="../images/pedidos.png">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <a href="#agregar-disp"> 
                <div class="demo-color-box bg-orange" style="height:10em">
                    <div class="color-name">AGREGAR</div>
                    <div class="color-code">
                        <i class="material-icons confi-icon" style="margin-top:0.5em;">phonelink_ring</i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <a href="#agregar-store">
                <div class="demo-color-box bg-blue-grey" style="height:10em">
                    <div class="color-name">AGREGAR SUCURSAL</div>
                    <div class="color-code">
                        <i class="material-icons confi-icon" style="margin-top:0.5em;">store</i>        
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <a href="#">
                <div class="demo-color-box bg-red" style="height:10em">
                    <div class="color-name">RED</div>
                    <div class="color-code">#F44336</div>
                    <div class="color-class-name">bg-red</div>
                </div>
            </a>
        </div>
    </div>
</section>